<% title "评论管理" %>
<table  cellspacing="0">
	<tr>
		<th>ID</th>
		<th width='100'>Email</th>  
	  <th>Name</th>    
	  <th>IP</th> 
	  <th>Website</th> 

	  <th>博客</th> 
		<th>创建时间</th>
		<th>操作</th>
	</tr>
  <% @latest_comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.email %></td> 
      <td><%= comment.author %></td> 
      <td><%= comment.user_ip %></td> 
      <td><%= comment.website %></td> 

      <td><%=link_to comment.post.title, "#{root_url}#{comment.post.my_post_path}" , :title => h(comment.post.title) %></td> 
      <td><%= comment.created_at.to_s(:db) %></td> 
      <td>
        <%= link_to "删除", [:blog_panel, comment], :method => :delete %>
        <%= link_to "删除！！！", "/blog_panel/comments/#{comment.id}?blanklist=true", :method => :delete, :title => "删除并将ip加入黑名单" %>
      </td>
    </tr>
  <% end %> 
  
  </table>
  
  
  <% content_for :sidebar do %>
  <% end %>