       <!-- user session new -->
       <!DOCTYPE html>
       <html>
       <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <title>系统登录 － <%= Settings.company.name %> <%= Settings.app.version %></title>

         <%= csrf_meta_tag %>
         <style type="text/css">
         /* login page style */
         #login-form {  font-size: 2em; margin: 20px; background-color:#5F5F5F; text-align: center;}
         #login-form #back_link{font-size: 12px; position: absolute; z-index:10; right: 22px; top: 4px; }
         #login-form #copyright{ font-size: 14px; padding: 8px;} 

         #login-form h1{ margin:4px; padding:4px; }
         #login-form .wrapper{ padding: 20px; border: 2px solid #4F4F4F; background :#BDBDBD;  }

         #login-form p {padding: 6px;}
         #login-form label {font-weight: bold;}
         #login-form input#user_session_login, #login-form input#user_session_password { width: 300px; padding: 10px; font-size: 1em; border: 2px solid #7F7F7F;} 
         #user_session_submit{ font-size: 20px;}
         </style>
       </head>

       <body id="login-form">
         <div id="back_link"><%= link_to "返回博客", "/myblog" %></div>
         <div class="wrapper">
           <h1>系统登录</h1>
           <%= form_for @user_session, :url => blog_panel_user_session_path do |form| %>
             <p>
               <label for="user_session_login">帐号:</label><br/>
               <%= form.text_field "login", :size => 30, :maxlength => 50, :class => "text" %></p>
             <p>
               <label for="user_session_password">密码:</label><br/>
               <%= form.password_field :password, :value => "", :maxlength => 50, :class => "text" %></p>
                  <!--p>
                     <% "link_to '不记得密码了？', new_password_path " %>
                   </p-->
             <p>
               <%= form.submit raw "登录 &#187;"  %>
             </p>
           <% end %>
         </div>
       <div id="copyright">Powered by CQROR.COM &copy;  版权所有</div>

       <script type="text/javascript">                             
       <%
       # javascripts code below is for safe reason.
       # in firefox it will save password if user have set auto save.
       %>    
          document.getElementById("admin_session_login").value = " ";
          document.getElementById("admin_session_password").value = "";
       </script>
         </body>
       </html>
