<% unless @posts.blank? %>
  <% @posts.each do |post| %>
    <div id="post_<%= post.id %>" class="post">
      <h2 class="storytitle"><%=link_to post.title, post , :title => h(post.title) %></h2>
      <div class="meta">at <%= post.created_at.to_s(:db) %></div>
      
      <%= link_to "删除", [:blog_panel, post], :method => :delete, :confirm => "你要继续？" %>
      
    </div>
  <% end %>
  
  <%= will_paginate @posts  %>

  <% else %>
    你还没有发表博客.
    <% if is_admin? %>
      新创建一篇？<%= link_to "开始吧", new_myblog_post_path, :title => "发表博客文章" %>
    <% end %>
  <% end %>
  <% content_for :sidebar do %>
  <% end %>
