<% unless @posts.blank? %>
<table  cellspacing="0">
	<tr>
		<th>ID</th>
		<th width='300'>标题</th>
		<th>阅读次数</th>
		<th>创建时间</th>
		<th>操作</th>
	</tr>
  <% @posts.each do |post| %>
    <tr>
	  <td><%= post.id %></td>
      <td><%=link_to post.title, post , :title => post.title %></td>
	  <td align='right'><%= post.click_count %></td>
	  <td><%= post.created_at.to_s(:db) %></td>
	  <td><%= link_to "删除", [:blog_panel, post], :method => :delete, :confirm => "你要继续？" %></td>
	</tr>
   <% end %>
  </table>
  
  <%= will_paginate @posts  %>

  <% else %>
    你还没有发表博客.
    <% if is_admin? %>
      新创建一篇？<%= link_to "开始吧", new_blog_panel_post_path, :title => "发表博客文章" %>
    <% end %>
  <% end %>
  <% content_for :sidebar do %>
  <% end %>
