<div class="post">
  <% @page_description = truncate(strip_tags(@post.content),:length => 80, :omission => "") %>
    <h2 class="storytitle"><%=link_to @post.title, "#{root_url}#{@post.my_post_path}", :title => @post.title, :target => "blank" %></h2>

            <div class="meta">
                at <%= @post.created_at %>
   tags: <%= @post.tag_list %>
            </div>

        <div class="storycontent">
            <%= raw @post.content %>
        </div>
    </div>
    
<div id="comments">
  <h3>回复</h3>
  <table>
    <tr>
      <th>Email</th>
      <th>Author</th>
      <th>Web Site</th>
      <th>IP</th>
 
      <th></th>
    </tr>
  <% @post.comments.each do |comment| %>
    <tr>
      <td><%= comment.email %></td>
      <td><%= comment.author %></td>
      <td><%= comment.website %></td>
      <td><%= comment.user_ip %></td>

      <td><%= link_to "删除", destroy_comment_blog_panel_post_path(@post, :comment_id => comment.id), :method => :delete %> - 
        <%= link_to "删除！！！", "/blog_panel/comments/#{comment.id}?blanklist=true", :method => :delete, :title => "删除并将ip加入黑名单" %>
        </td>
    </tr>
  <% end %>
  </table>
</div>

