<h2>关于我</h2>
我是qichunren (蕲春人)，在以下地方可以找到我:

 <ul>
  <li><%= link_to "豆瓣", "http://www.douban.com/people/qichunren/"%></li> 
  <li><%= link_to "JavaEye", "http://qichunren.javaeye.com" %></li>
  <li><%= link_to "Twitter", "http://twitter.com/qichunren" %></li>
  <li><%= link_to "新浪微博", "http://t.sina.com.cn/qichunren" %></li>
  <li><%= link_to "Github", "http://github.com/qichunren" %></li> 
 </ul>