<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>重庆Ruby On Rails开发</title>
    <meta name="description" content="重庆Ruby On Rails开发关注WEB的敏捷开发形式，关注WEB的健康发展" />
    <meta name="keywords" content="重庆Ruby On Rails 开发 cqror web开发 SEO 开发标准 蕲春人 qichunren" />
    <%= stylesheet_link_tag 'homepage' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <%= javascript_include_tag "jquery.validate.pack", "jquery.validate.messages_cn" %>
  </head>
  <body>
    <div id="header"><h1 onclick="window.location.href='http://www.cqror.com';">重庆ROR开发</h1>
      <div class="nav">
        <ul>
          <li><a href="http://www.cqror.com">首页</a></li>
          <li><a href="/contact-us">联系我们</a></li>
        </ul>
      </div>
    </div><!-- end:header -->

    <div id="contact">
      <div class="wrap">
        <h3>联系我</h3>
        <div class="form_div">
          <% form_for :guestbook, :url => "", :html => { :id => "guestbook_form" } do |f| %>
            <%= show_flash_message %>
            <%= f.error_messages %>
            <p>
              <%= f.label :true_name, "您的姓名" %><br/>
              <%= f.text_field :true_name, :class => "required", :title => "请输入你的姓名，以方便我们联系你"  %>
            </p>
            <p>
              <%= f.label :email, "您的电子邮箱" %><br/>
              <%= f.text_field :email, :class => "email", :title => "请输入你的电子邮箱，以方便我们联系你"  %>
            </p>
            <p>
              <%= f.label :telphone, "您的联系电话" %><br/>
              <%= f.text_field :telphone  %>
            </p>
            <p>
              <%= f.label :content, "留言内容" %><br/>
              <%= f.text_area :content, :style => "height:120px;", :class => "required", :title => "请输入留言内容" %>
            </p>
            <%=f.submit "提交你填写的信息", :class => "awesome blue button" %>
          <% end %>

          <div class="error"></div>

        </div>
        <ul style="font-size:110%;padding:10px;border-bottom:1px solid #BDBDBD;">
          <li style="padding:5px 0;">电子邮件: whyruby@gmail.com</li>
          <li style="padding:5px 0;">MSN: rubyonrials@live.cn</li>
          <li style="padding:5px 0;">GTalk: whyruby@gmail.com</li>
        </ul>
      </div>
    </div>

    <div id="footer">
      <div class="wrap">
        <div style="float:left;">重庆Ruby On Rails开发<br/>Chongqing Ruby On Rails Development 2009 - <%= Time.now.year %></div>
        <div style="float:right;padding-right:100px;;line-height:40px;">联系我们:<span style="font-size:200%;color:#FF9900;margin-right:30px"><em style="font-size:90%;"></em>whyruby@gmail.com</span><%= link_to "我的博客", myblog_root_path%></div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#guestbook_form").validate({
          errorLabelContainer: $("#contact div.error")
        });
      });
    </script>
    <%= google_analytics %>
  </body>
</html>
