<%= form_for([:blog_panel, @blacklist]) do |f| %>
  <% if @blacklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blacklist.errors.count, "error") %> prohibited this blacklist from being saved:</h2>

      <ul>
      <% @blacklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
