<% title  @post.title -%>

<div class="post">
  <% @page_description = truncate(strip_tags(@post.content),:length => 80, :omission => "") %>
    <h2 class="storytitle">
        <%=link_to @post.title, "/myblog/#{@post.to_param}", :title => @post.title %>
     </h2>

    <div class="meta">at <%= @post.created_at.to_s(:db) %> tags: <%= @post.tag_list %></div>

	<div class="storycontent">
  		<%= format_post @post.content %>
    </div>

</div><!-- end: .post -->

<br />

<h3>文章评论 (<%= @comments.size %>)</h3>
<ul id="commentlist">

		<% unless @comments.blank? %>
			<% @comments.each do |comment| %>
				<li>
					<%= image_tag comment.gravatar_url, :height => 32, :width => 32, :alt => comment.author, :class => "comment_author_avatar" %>
						<p><%= simple_format comment.content %></p>
					<p><cite>Comment by <%= link_to comment.author, comment.website %> &#8212; <%= l comment.created_at, :format => :long %></cite> </p>
				</li>
			<% end %>
		<% end %>
	</ul>


<h3>发表评论...</h3>



<%= form_for [@post, @comment], :html => { :id  => "commentform" } do |f| -%>


<p>
	<%= f.text_field :author, :size  => 22, :tabindex => 1 %>
<label for="comment_author"><small>大名 ＊</small></label></p>

<p><%= f.text_field :email, :size => 22, :tabindex => 2 %>
<%= f.label	:email, "Email (不会公布) ＊" %>
</p>

<p><%= f.text_field :website, :size => 22, :tabindex => 3 %>
<%= f.label	:website, "网站或者博客" %></p>

<p>
	<%= f.text_area :content, :cols => "100%", :rows => 10, :tabindex  => 4 %>
</p>
<p>
  <%= text_field_tag "code_image", "", :style => "width:50px;" %> <%= image_tag "/myblog/code_image" %>
</p>
<p>
	<%= f.submit "提交评论", :tabindex => 5 %>
<input type="hidden" name="comment_post_ID" value="561" />
</p>

<% end %> 

<%= content_for :body_footer do %>
<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<%= javascript_include_tag "rails", "jquery.validate.pack", "jquery.validate.messages_cn" %>
<% end %>

<!-- JiaThis Button BEGIN -->
<script type="text/javascript">var jiathis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?type=left&amp;move=0&amp;uid=97539" charset="utf-8"></script>
<!-- JiaThis Button END -->
