<div class="post">
  <% @page_description = truncate(strip_tags(@post.content),:length => 80, :omission => "") %>
    <h2 class="storytitle">
        <%=link_to @post.title, @post, :title => @post.title %>
     </h2>

    <div class="meta">at <%= @post.created_at.to_s(:db) %> tags: <%= @post.tag_list %></div>

	<div class="storycontent">
  		<%=raw @post.content %>
    </div>

</div><!-- end: .post -->

<h3>Post comments (<%= @comments.size %>)</h3>
<div class="comments">
	<ul>
		<% unless @comments.blank? %>
			<% @comments.each do |comment| %>
				<li><%= comment.content %></li>
			<% end %>
		<% else %>
		  <li>No comment yet.</li>
		<% end %>
	</ul>
</div>

<h3>Give it a comment</h3>
<div class="comment">
	<%= form_for [@post, @comment] do |f| -%>
	
	<%= f.label	:email %>
	<%= f.text_field :email %>
	
	<%= f.label	:website %>
	<%= f.text_field :website %>
	
	<%= f.label :content %>
	<%= f.text_area :content %>  
	<%= f.submit %>
	<% end -%>
</div>

