<% unless @posts.blank? %>
Posts tagged with <%= params[:id] %>
  <% @posts.each do |post| %>
    <div id="post_<%= post.id %>" class="post">
    <h2 class="storytitle"><%=link_to post.title, "/myblog/#{post.to_param}" , :title => h(post.title) %></h2>
    <div class="meta">at <%= post.created_at.to_s(:db) %> tags: <%= post.tag_list %></div>
            <div class="storycontent">
                   <%=truncate(strip_tags(post.content), :length => 100, :omission => "......") %>
                          </div>
                    <div class="feddback"></div>
                   </div>
   <% end %>

   <%= will_paginate @posts, :page_links => false %>
 <% else %>
 Not found posts with tag:<%= params[:id] %>
<% end %>
<% content_for :sidebar do %>

<% end %>